@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-border: var(--border);
}

:root {
  --background: #0f172a; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
  
  --primary: #38bdf8; /* Sky 400 */
  --primary-foreground: #0f172a;
  
  --card: #1e293b; /* Slate 800 */
  --card-foreground: #f8fafc;
  
  --muted: #334155; /* Slate 700 */
  --muted-foreground: #94a3b8; /* Slate 400 */
  
  --border: #334155;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
